<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="red"></div>
  <header><h1>Shannon's <br>Movie Ratings</h1><nav><a href='/'>home</a><a href='/movies'>movies</a></nav></header>  <main>
    <h2>Movie List<a href="/movies/new" class="button">add new</a></h2>
  <table>
  	<thead>
  	<tr>
  		<th>Title</th>
  		<th>Director</th>
  		<th>Year</th>
    	<th>Rating</th>
    	<th colspan="2"></th>
  	</tr>
  	</thead>
  	<tbody>

      {{#movies}}
    <tr>
      <td>
        <a href="/movies/{{_id}}/">{{title}}</a>
      </td>
      <td>{{director}}</td>
      <td>{{year}}</td>
      <td>{{rating}}</td>
      <td>
          <a href="movies/{{_id}}/edit"><i class="fa fa-pencil-square-o"></i></a>
      </td>
      <td>
        <form action="movies/{{_id}}/delete" method='POST'>
          <button><i class="fa fa-times"></i></button>
        </form>
      </td>

      </tr>
      {{/movies}}

  	</tbody>
  </table>
  </main>
</body>
</html>
